<div class="py-2 my-2">
  <h1 class="display-1">Display 1</h1>
  <h1 class="display-2">Display 2</h1>
  <h1 class="display-3">Display 3</h1>
  <h1 class="display-4">Display 4</h1>
</div>

<div class="my-2">
  <h1>h1. Red Flags heading</h1>
  <h2>h2. Red Flags heading</h2>
  <h3>h3. Red Flags heading</h3>
  <h4>h4. Red Flags heading</h4>
  <h5>h5. Red Flags heading</h5>
  <h6>h6. Red Flags heading</h6>
</div>
<hr>
<p class="lead">
  Donec pretium eu urna sit amet finibus. Phasellus placerat varius orci, non congue quam rhoncus at.
  Mauris eget dapibus dui. Nam congue tempor velit dictum molestie. Etiam ultrices condimentum lectus dapibus molestie.
  Sed ultrices odio eget erat porta dignissim. Donec accumsan vestibulum metus, at varius sapien. Vivamus bibendum, quam
  eu congue pellentesque, ante nisl maximus sapien, sed placerat ante sapien a lacus. In fringilla nunc metus, vel
  luctus nulla luctus in. Cras in lacinia ipsum.
</p>
<p>
  Integer varius mi sed nibh auctor bibendum. Donec at tellus eu turpis congue blandit ut at dolor. Nullam maximus
  nulla dignissim consequat venenatis. <em>Donec maximus</em> turpis ac nulla semper, a scelerisque erat sagittis.
  Praesent eu enim est. Vestibulum bibendum dolor nisi, vitae auctor enim faucibus vitae. Curabitur vel malesuada elit.
  Pellentesque sit amet tellus eu dolor lacinia pretium quis sed libero. Maecenas non lacus ut dui dapibus mollis.
</p>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-outline-primary">Secondary</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<hr>