@import 'variables';

@import 'google-fonts.scss';
@import 'bootstrap';
@import 'font-awesome';

@import 'projects';
@import 'static';
@import 'schedule';
@import 'statuses';
@import 'navbar';
@import 'footer';

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
}

.btn-outline-primary:hover {
  border-color: $link-hover-color;
  color: $link-hover-color;
  background-color: transparent;
}

.table-title-item, .table-price {
  font-family: $headings-font-family;
  font-size: large;
  color: $black;
}

#filterForm.collapsing {
  transition: height 0.5s ease-out;

}

h1 .badge-alpha {
  background-color: #cb3235;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: white;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  position: relative;
  vertical-align: top;
}