@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:100,200,300,500&subset=latin,latin-ext');
@import 'bootstrap';
@import 'font-awesome';

@import 'projects';
@import 'static';


.btn-outline-primary:hover {
  border-color: $link-hover-color;
  color: $link-hover-color;
  background-color: transparent;
}

.navbar {
  @include media-breakpoint-up(md) {
    .navbar-brand img {
      width: 240px;
    }
  }
}

.container {
  max-width: 1024px;
}

footer {
  background-color: $gray-dark;
  color: $white;

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  .fa-inverse {
    color: $gray-dark;
  }

  .icons {
    a:hover {
      text-decoration: none;
    }
  }
}
