@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:100,200,300,500&subset=latin,latin-ext');
@import 'bootstrap';
@import 'font-awesome';

@import 'projects';
@import 'static';

em {
  background-color: $color-highlight;
  font-style: normal;
}

.btn-outline-primary:hover {
  border-color: $link-hover-color;
  color: $link-hover-color;
  background-color: transparent;
}

.navbar {
  @include media-breakpoint-up(md) {
    .navbar-brand img {
      width: 240px;
    }
  }

  .navbar-nav {
  }
}

.container {
  max-width: 1024px;
}
footer {
  background-color: $gray-lighter;
}

footer, footer a {
  color: $body-color;
}
