@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:100,200,300,500&subset=latin,latin-ext');
@import 'bootstrap';
@import 'font-awesome';

em {
  background-color: $color-highlight;
  font-style: normal;
}

.btn-outline-primary:hover {
  border-color: $link-hover-color;
  color: $link-hover-color;
  background-color: transparent;
}

.navbar {
  height: 50px;
  border-bottom: 1px solid $gray-lighter;
}

#main-container {
  max-width: 900px;
}
footer {
  background-color: $gray-lightest;
}

footer, footer a {
  color: $text-muted;
}
