#project-show {
  @include media-breakpoint-up(md) {
    padding-top: 6rem;
  }

  .full-description {
    padding-left: .08rem;
  }

  .project-title {
    padding-top: .4rem;
  }

  .total-score {
    @include media-breakpoint-up(md) {
      line-height: 8rem;
      font-size: 8rem;
    }
    line-height: 4rem;
    font-size: 4rem;
    font-weight: bold;
    color: $orange;
  }

  .table-of-contents li {
    font-weight: 400;
  }

  hr {
    margin-bottom: 3rem;
  }

  .lightbox-wrapper .meta {
    display: none;
  }
}

.rating-known .fa-star {
  color: $orange;
}

.rating-known .fa-star-o {
  color: $text-muted;
}

img.emoji {
  display: none;
}

#landing .toplist a {
  color: white;
}
