// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#project-show {
  .full-description {
    padding-left: .08rem;
  }
}
