.state-badge {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px 15px;
}

.status-1 {
  background-color: rgba(255, 0, 0, 0.25);
  color: #FF0000;
  border-color: #FF0000;
}

.status-2 {
  background-color: rgba(255, 127, 127, 0.25);
  color: #FF7F7F;
  border-color: #FF7F7F;
}

.status-3 {
  background-color: rgba(255, 153, 153, 0.25);
  color: #FF9999;
  border-color: #FF9999;
}

.status-4 {
  background-color: rgba(255, 178, 178, 0.25);
  color: #FFB2B2;
  border-color: #FFB2B2;
}

.status-5 {
  background-color: rgba(255, 218, 185, 0.25);
  color: #FFDAB9;
  border-color: #FFDAB9;
}

.status-6 {
  background-color: rgba(240, 230, 140, 0.25);
  color: #F0E68C;
  border-color: #F0E68C;
}

.status-7 {
  background-color: rgba(255, 255, 224, 0.25);
  color: #FFFFE0;
  border-color: #FFFFE0;
}

.status-8 {
  background-color: rgba(144, 238, 144, 0.25);
  color: #90EE90;
  border-color: #90EE90;
}

.status-9 {
  background-color: rgba(60, 179, 113, 0.25);
  color: #3CB371;
  border-color: #3CB371;
}

.status-10 {
  background-color: rgba(0, 255, 255, 0.25);
  color: #00FFFF;
  border-color: #00FFFF;
}

.status-11 {
  background-color: rgba(135, 206, 250, 0.25);
  color: #87CEFA;
  border-color: #87CEFA;
}

.status-12 {
  background-color: rgba(65, 105, 225, 0.25);
  color: #4169E1;
  border-color: #4169E1;
}

.status-13 {
  background-color: rgba(0, 0, 255, 0.25);
  color: #0000FF;
  border-color: #0000FF;
}