$black: #000000;
$light_black: #141617;
$gray-dark:     #373a3c;
$gray:          #55595c;
$gray-light:    #818a91;
$gray-lighter:  #c4c3ca;
$gray-lightest: #f4f4f4;
$color-highlight: lightgoldenrodyellow;

$blue: #385EFF;
$orange: #ffac33;

$theme-colors: (
  primary: $blue,
  secondary: $gray-light,
  success: #28a745, // Bootstrap default
  info: #17a2b8,    // Bootstrap default
  warning: $orange,
  danger: #dc3545,  // Bootstrap default
  light: $gray-lightest,
  dark: $gray-dark
);

$headings-font-family: 'Roboto Mono', 'Georgia', 'Times New Roman', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$modal-backdrop-bg: white;
$modal-backdrop-opacity: .7;
