$gray-dark:     #373a3c;
$gray:          #55595c;
$gray-light:    #818a91;
$gray-lighter:  #c4c3ca;
$gray-lightest: #f4f4f4;
$color-highlight: lightgoldenrodyellow;
$orange: #ffac33;

$primary: #3a67e8;

$headings-font-family: 'Merriweather', 'Georgia', 'Times New Roman', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 700;

$modal-backdrop-bg: white;
$modal-backdrop-opacity: .7;
